[Unit]
Description=poweroff spi
DefaultDependencies=no
Before=shutdown.target poweroff.target halt.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /etc/spi.d/shutdown.py

[Install]
WantedBy=shutdown.target poweroff.target halt.target
